---
version: "3"

services:
  netdata:
    image: netdata/netdata:v1.29.1
    container_name: netdata
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    volumes:
      - /dev/bus/usb:/dev/bus/usb:ro
      - /etc/localtime:/etc/localtime:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /volume1/docker/netdata/config:/etc/netdata:rw
      - /volume1/docker/netdata/log:/var/log/netdata:rw
      - /volume1/homes/admin/Code/bds.home/scripts/netdata:/netdata
    env_file:
      - /volume1/homes/admin/Code/bds.home/.env
    ports:
      - 192.168.1.250:19999:19999/tcp
    network_mode: host
    restart: always
  home-assistant:
    image: bdossantos/home-assistant:latest
    container_name: home-assistant
    volumes:
      - /dev/bus/usb:/dev/bus/usb:ro
      - /etc/localtime:/etc/localtime:ro
      - /volume1/homes/admin/Code/bds.home/homeassistant:/config
    environment:
      - TZ=Europe/Paris
    ports:
      - 192.168.1.250:8080:8080/tcp
    network_mode: host
    restart: always
  homeassistant-postgresql:
    image: postgres:12.5
    container_name: homeassistant-postgresql
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /volume1/docker/homeassistant-postgres/12/data:/var/lib/postgresql/data
    env_file:
      - /volume1/homes/admin/Code/bds.home/.env
    command: -p 5433
    ports:
      - 127.0.0.1:5433:5433/tcp
    network_mode: host
    restart: always
  grafana:
    image: grafana/grafana:7.4.1
    container_name: grafana
    volumes:
      - /volume1/docker/grafana:/var/lib/grafana
    network_mode: host
    ports:
      - 192.168.1.250:3000:3000/tcp
    environment:
      - GF_INSTALL_PLUGINS=grafana-strava-datasource,grafana-worldmap-panel
      - GF_PLUGINS_ENABLE_ALPHA=true
      - GF_STRAVA_DS_DATA_PATH=/var/lib/grafana/strava
    restart: always
