---

homeassistant:
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: 30
  unit_system: metric
  time_zone: Europe/Paris
  name: BDS Home
  customize: !include_dir_merge_named customize

logger:
  default: warning
  logs:
    homeassistant.components.http.ban: warning

frontend:

config:

http:
  server_port: 8080
  ip_ban_enabled: 'True'
  login_attempts_threshold: 3
  api_password: !secret api_password

discovery:

conversation:

history:

logbook:

map:

sun:

tts:
  - platform: google
    cache: true
    cache_dir: /tmp/tts
    time_memory: 300
    language: 'fr'

recorder:
  purge_interval: 1
  purge_keep_days: 30

hue:
  bridges:
    - host: 192.168.1.249
      filename: phue.conf
      allow_unreachable: true
      allow_hue_groups: false

scene: !include_dir_list scenes

light:
  - platform: group
    name: hall lights
    entities:
      - light.hall1
  - platform: group
    name: kitchen lights
    entities:
      - light.kitchen1
  - platform: group
    name: livingroom lights
    entities:
      - light.livingroom1
      - light.livingroom2
      - light.livingroom3
      - light.livingroom4
  - platform: group
    name: bedroom lights
    entities:
      - light.bathroom1
      - light.bedroom1
      - light.bedroom2
      - light.bedroom3
  - platform: group
    name: dressing lights
    entities:
      - light.dressing1
      - light.dressing2
  - platform: group
    name: bathroom lights
    entities:
      - light.bathroom1

sensor:
  - platform: google_wifi
    host: 192.168.1.253
    monitored_conditions:
      - current_version
      - new_version
      - uptime
      - last_restart
      - status
  - platform: systemmonitor
    resources:
      - type: disk_use_percent
        arg: /
      - type: memory_use
      - type: memory_free
      - type: processor_use
      - type: network_in
        arg: eth0
      - type: network_out
        arg: eth0
      - type: last_boot
  - platform: speedtest
    minute:
      - 0
      - 30
    monitored_conditions:
      - ping
      - download
      - upload
  - platform: airvisual
    api_key: !secret airvisual_api_key
    monitored_conditions:
      - us
      - cn
    city: paris
    state: ile-de-france
    country: france
    radius: 10000
    show_on_map: false
  - platform: nest
  - platform: netatmo
  - platform: nut
    name: APC BE700G
    host: 192.168.1.250
    username: ups
    port: 3493
    resources:
      - battery.charge
      - battery.charge.low
      - battery.charge.warning
      - battery.date
      - battery.mfr.date
      - battery.runtime
      - battery.voltage
      - battery.voltage.nominal
      - input.voltage
      - input.voltage.nominal
      - ups.beeper.status
      - ups.load
      - ups.model
      - ups.status
      - ups.timer.reboot
      - ups.timer.shutdown
  - platform: darksky
    api_key: !secret darksky_api_key
    language: en
    monitored_conditions:
      - apparent_temperature
      - apparent_temperature_max
      - apparent_temperature_min
      - cloud_cover
      - daily_summary
      - dew_point
      - hourly_summary
      - humidity
      - minutely_summary
      - nearest_storm_distance
      - ozone
      - precip_accumulation
      - precip_intensity
      - precip_intensity_max
      - precip_probability
      - precip_type
      - pressure
      - summary
      - temperature
      - temperature_max
      - temperature_min
      - uv_index
      - visibility
      - wind_bearing
      - wind_speed
  - platform: template
    sensors:
      benjamin_status:
        value_template: '{{ states.input_select.benjamin_status_dropdown.state }}'
        friendly_name: 'Benjamin'

binary_sensor:
  - platform: nest

device_tracker:
  - platform: nmap_tracker
    home_interval: 10
    hosts: 192.168.1.10-20
    consider_home: 600
  - platform: ping
    home_interval: 10
    hosts:
      benjamin_smartphone: 192.168.1.2
      count: 2
    consider_home: 600
  - platform: bluetooth_tracker
    consider_home: 600
  - platform: tile
    consider_home: 600
    show_inactive: false
    username: !secret tile_username
    password: !secret tile_password
    monitored_variables:
      - TILE
      - PHONE

media_player:
  - platform: sonos
    hosts:
      - 192.168.1.248
      - 192.168.1.245

nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret

netatmo:
  api_key: !secret netatmo_api_key
  secret_key: !secret netatmo_secret_key
  username: !secret netatmo_username
  password: !secret netatmo_password

group:
  default_view:
    name: Home
    icon: mdi:home
    view: yes
    entities:
      - group.bathroom
      - group.bedroom
      - group.hall
      - group.kitchen
      - group.livingroom
      - group.dressing
      - group.lights
      - group.scenes
      - group.family
      - group.all_automations
      - group.all_scripts
      - group.all_switches
  sensor_view:
    name: Sensors
    icon: mdi:thermometer
    view: yes
    entities:
      - group.speedtest
      - group.netatmo
      - group.darksky
      - group.air_quality
      - history_graph.indoor_temperature
      - history_graph.indoor_co2
      - history_graph.indoor_humidity
      - history_graph.indoor_noise
      - history_graph.outdoor_temperature
      - history_graph.outdoor_humidity
      - history_graph.outdoor_ozone
      - group.apc_be700g
  bathroom:
    name: Bathroom
    entities:
      - light.bathroom1
  bedroom:
    name: Bedroom
    entities:
      - light.bedroom1
      - light.bedroom2
      - light.bedroom3
      - light.bedroom4
      - media_player.bedroom
  hall:
    name: Hall
    entities:
      - light.hall1
      - sensor.hallway_nest_protect_battery_health
      - sensor.hallway_nest_protect_co_status
      - sensor.hallway_nest_protect_smoke_status
  kitchen:
    name: Kitchen
    entities:
      - light.kitchen1
  livingroom:
    name: Living Room
    entities:
      - light.livingroom1
      - light.livingroom2
      - light.livingroom3
      - light.livingroom4
      - media_player.living_room
      - sensor.netatmo_indoor_temperature
      - sensor.netatmo_indoor_co2
      - sensor.netatmo_indoor_humidity
      - sensor.netatmo_indoor_noise
      - sensor.apc_be700g_input_voltage
      - sensor.apc_be700g_load
  dressing:
    name: Dressing
    entities:
      - light.dressing1
      - light.dressing2
  scenes:
    name: Scenes
    entities:
      - scene.all_lights_off
      - scene.nightlight
      - scene.candle
      - scene.relax
      - scene.concentrate
      - scene.reading
      - scene.energize
      - scene.arctic
  speedtest:
    name: Internet
    entities:
      - sensor.speedtest_ping
      - sensor.speedtest_download
      - sensor.speedtest_upload
  air_quality:
    name: Paris Air quality
    entities:
      - sensor.us_air_pollution_level
      - sensor.us_air_quality_index
      - sensor.us_main_pollutant
  netatmo:
    name: Indoor metrics
    entities:
      - sensor.netatmo_indoor_co2
      - sensor.netatmo_indoor_humidity
      - sensor.netatmo_indoor_noise
      - sensor.netatmo_indoor_pressure
      - sensor.netatmo_indoor_temperature
      - sensor.netatmo_indoor_wifi
      - sensor.netatmo_outdoor_battery
      - sensor.netatmo_outdoor_humidity
      - sensor.netatmo_outdoor_radio
      - sensor.netatmo_outdoor_temperature
  darksky:
    name: Outdoor metrics
    entities:
      - sensor.dark_sky_daily_summary
      - sensor.dark_sky_daily_high_temperature
      - sensor.dark_sky_daily_low_temperature
      - sensor.dark_sky_humidity
      - sensor.dark_sky_ozone
      - sensor.dark_sky_precip_intensity
      - sensor.dark_sky_precip_probability
      - sensor.dark_sky_temperature
      - sensor.dark_sky_uv_index
      - sensor.dark_sky_wind_speed
  apc_be700g:
    name: APC BE700G
    entities:
      - sensor.apc_be700g_battery_charge
      - sensor.apc_be700g_battery_runtime
      - sensor.apc_be700g_battery_voltage
      - sensor.apc_be700g_beeper_status
      - sensor.apc_be700g_input_voltage
      - sensor.apc_be700g_load
  sun_light_trigger:
    name: Presence based lights
    entities:
      - light.hall1
      - light.bedroom2
      - light.bedroom3
      - light.bathroom1
      - light.livingroom1
      - light.livingroom2
      - light.livingroom3
      - light.livingroom4
  benjamin_devices:
    name: Benjamin devices
    entities:
      - device_tracker.nexus5x
      - device_tracker.benjamin_smartphone
      - device_tracker.tile_home_keys
  tile:
    name: Tile
    entities:
      - device_tracker.tile_home_keys
      - device_tracker.tile_home_keys_double
      - device_tracker.tile_passport
  family:
    name: Family
    entities:
      - group.benjamin_devices
  all_media_players:
    name: All media players
    entities:
      - media_player.living_room
      - media_player.bedroom

input_select:
  benjamin_status_dropdown:
    name: Benjamin
    options:
      - Home
      - Just Arrived
      - Just Left
      - Away
      - Extended Away
    initial: Home

history_graph:
  indoor_temperature:
    name: Indoor temperature
    entities:
      - sensor.netatmo_indoor_temperature
    hours_to_show: 168
    refresh: 600
  indoor_co2:
    name: Indoor CO2
    entities:
      - sensor.netatmo_indoor_co2
    hours_to_show: 168
    refresh: 600
  indoor_humidity:
    name: Indoor humidity
    entities:
      - sensor.netatmo_indoor_humidity
    hours_to_show: 168
    refresh: 600
  indoor_noise:
    name: Indoor noise
    entities:
      - sensor.netatmo_indoor_noise
    hours_to_show: 24
    refresh: 60
  outdoor_temperature:
    name: Outdoor temperature
    entities:
      - sensor.dark_sky_temperature
    hours_to_show: 168
    refresh: 600
  outdoor_humidity:
    name: Outdoor humidity
    entities:
      - sensor.dark_sky_humidity
    hours_to_show: 168
    refresh: 600
  outdoor_ozone:
    name: Outdoor ozone
    entities:
      - sensor.dark_sky_ozone
    hours_to_show: 168
    refresh: 600

automation:
  - alias: '06:30 weekdays morning routine'
    trigger:
      - platform: time
        at: '06:30:00'
    condition:
      - condition: state
        entity_id: group.family
        state: 'home'
      - condition: time
        weekday:
          - mon
          - tue
          - wed
          - thu
          - fri
    action:
      service: scene.turn_on
      entity_id: scene.energize_kitchen
  - alias: 'Turn on Nightlight Scene when dark and we Just Arrived'
    trigger:
      - platform: state
        entity_id: sensor.benjamin_status
        to: 'Just Arrived'
    condition:
      condition: or  # 'when dark': either after sunset or before sunrise
      conditions:
        - condition: sun
          after: sunset
        - condition: sun
          before: sunrise
        - condition: and
          conditions:
            - condition: state
              entity_id: group.family
              state: 'home'
    action:
      service: scene.turn_on
      entity_id: scene.nightlight
  - alias: 'Turn off Media Players when everybody is Away'
    trigger:
      platform: state
      entity_id: group.all_media_players
      to: 'off'
    condition:
      condition: and
      conditions:
        - condition: state
          entity_id: group.family
          state: 'not_home'
    action:
      - service: media_player.turn_off
  - alias: 'Turn off lights when everybody is Away'
    trigger:
      platform: state
      entity_id: sensor.benjamin_status
      to: 'Away'
    condition:
      condition: and
      conditions:
        - condition: state
          entity_id: group.family
          state: 'not_home'
    action:
      service: light.turn_off
      entity_id: group.all_lights
  # Automating Transitions Between States
  # https://philhawthorne.com/making-home-assistants-presence-detection-not-so-binary/
  - alias: Mark person as just arrived
    trigger:
      - platform: state
        entity_id: group.benjamin_devices
        from: 'not_home'
        to: 'home'
    action:
      - service: input_select.select_option
        data_template:
          entity_id: >
            {% if trigger.entity_id == 'group.benjamin_devices' %}
              input_select.benjamin_status_dropdown
            {% endif %}
          option: >
            {% if trigger.entity_id == 'group.benjamin_devices' %}
              {% if states.input_select.benjamin_status_dropdown.state == 'Just Left' %}
                Home
              {% else %}
                Just Arrived
              {% endif %}
            {% endif %}
  - alias: Mark person as home
    trigger:
      - platform: state
        entity_id: input_select.benjamin_status_dropdown
        to: 'Just Arrived'
        for:
          minutes: 10
      - platform: state
        entity_id: input_select.benjamin_status_dropdown
        from: 'Just Left'
        to: 'Just Arrived'
    action:
      - service: input_select.select_option
        data_template:
          entity_id: >
            {% if trigger.entity_id == 'input_select.benjamin_status_dropdown' %}
              input_select.benjamin_status_dropdown
            {% endif %}
          option: Home
  - alias: Mark person as just left
    trigger:
      - platform: state
        entity_id: group.benjamin_devices
        from: 'home'
        to: 'not_home'
    action:
      - service: input_select.select_option
        data_template:
          entity_id: >
            {% if trigger.entity_id == 'group.benjamin_devices' %}
              input_select.benjamin_status_dropdown
            {% endif %}
          option: Just Left
  - alias: Mark person as away
    trigger:
      - platform: state
        entity_id: input_select.benjamin_status_dropdown
        to: 'Just Left'
        for:
          minutes: 10
    action:
      - service: input_select.select_option
        data_template:
          entity_id: >
            {% if trigger.entity_id == 'input_select.benjamin_status_dropdown' %}
              input_select.benjamin_status_dropdown
            {% endif %}
          option: Away
  - alias: Mark person as extended away
    trigger:
      - platform: state
        entity_id: input_select.benjamin_status_dropdown
        to: 'Away'
        for:
          hours: 24
    action:
      - service: input_select.select_option
        data_template:
          entity_id: >
            {% if trigger.entity_id == 'input_select.benjamin_status_dropdown' %}
              input_select.benjamin_status_dropdown
            {% endif %}
          option: Extended Away

zone:
  - name: Work
    latitude: !secret work_latitude
    longitude: !secret work_longitude
    elevation: 40
    icon: mdi:worker
    radius: 100
