---
homeassistant:
  auth_providers:
    - type: homeassistant
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: 30
  unit_system: metric
  time_zone: Europe/Paris
  name: BDS Home
  customize: !include_dir_merge_named customize

logger:
  default: warning
  logs:
    homeassistant.components.http.ban: warning

system_health:

updater:
  reporting: false

frontend:

config:

http:
  server_port: 8080
  ip_ban_enabled: "True"
  login_attempts_threshold: 3
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1
    - 192.168.1.254
    - ::1

discovery:

conversation:

history:

logbook:

map:

sun:

tts:
  - platform: google_translate
    cache: true
    cache_dir: /tmp/tts
    time_memory: 300
    language: "en"

recorder:
  db_url: !secret db_url
  purge_keep_days: 7

scene: !include_dir_list scene

light: !include_dir_merge_list light

person: !include_dir_merge_list person

sensor: !include_dir_merge_list sensor

binary_sensor: !include_dir_merge_list binary_sensor

device_tracker: !include_dir_merge_list device_tracker

sonos:
  media_player:
    hosts:
      - 192.168.1.248
      - 192.168.1.245

tplink:
  discovery: true
  switch:
    - host: 192.168.1.240
    - host: 192.168.1.241

meteo_france:
  - city: "Paris, France"

nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret

netatmo:
  client_id: !secret netatmo_client_id
  client_secret: !secret netatmo_client_secret

group:
  default_view:
    name: Home
    icon: mdi:home
    entities:
      - group.family
      - group.input_booleans
      - group.hall
      - group.toilet
      - group.kitchen
      - group.livingroom
      - group.bedroom
      - group.dressing
      - group.bathroom
      - group.scenes
  sensor_view:
    name: Sensors
    icon: mdi:thermometer
    entities:
      - group.netatmo
      - group.darksky
      - group.air_quality
      - group.apc_be700g
  system_view:
    name: System
    icon: mdi:toolbox
    entities:
      - group.all_automations
      - group.all_scripts
  bathroom:
    name: Bathroom
    entities:
      - light.bathroom1
  bedroom:
    name: Bedroom
    entities:
      - light.bedroom1
      - light.bedroom2
      - light.bedroom3
      - binary_sensor.bedroom_motion_sensor
      - sensor.bedroom_motion_luminance
      - sensor.bedroom_motion_temperature
      - media_player.bedroom
  hall:
    name: Hall
    entities:
      - light.hall1
      - binary_sensor.hallway_nest_protect_online
      - sensor.hallway_nest_protect_battery_health
      - sensor.hallway_nest_protect_co_status
      - sensor.hallway_nest_protect_color_status
      - sensor.hallway_nest_protect_smoke_status
      - binary_sensor.hue_motion_sensor_hallway_motion
      - sensor.hue_motion_sensor_hallway_light_level
      - sensor.hue_motion_sensor_hallway_temperature
  toilet:
    name: Toilet
    entities:
      - switch.hot_water_cylinder
      - sensor.hot_water_cylinder_amps
      - sensor.hot_water_cylinder_volts
      - sensor.hot_water_cylinder_watts
      - sensor.hot_water_cylinder_today_kwh
      - sensor.hot_water_cylinder_total_kwh
  kitchen:
    name: Kitchen
    entities:
      - light.kitchen1
      - switch.smartplug_kitchen1
      - binary_sensor.hue_motion_sensor_kitchen_motion
      - sensor.hue_motion_sensor_kitchen_light_level
      - sensor.hue_motion_sensor_kitchen_temperature
      - binary_sensor.fridge_motion_sensor
      - sensor.fridge_motion_luminance
      - sensor.fridge_motion_temperature
  livingroom:
    name: Living Room
    entities:
      - light.livingroom1
      - light.livingroom2
      - light.livingroom3
      - light.livingroom4
      - binary_sensor.livingroom_motion_sensor
      - sensor.livingroom_motion_luminance
      - sensor.livingroom_motion_temperature
      - media_player.living_room
      - sensor.netatmo_bds_indoor_temperature
      - sensor.netatmo_bds_indoor_co2
      - sensor.netatmo_bds_indoor_humidity
      - sensor.netatmo_bds_indoor_noise
      - sensor.apc_be700g_input_voltage
      - sensor.apc_be700g_load
  dressing:
    name: Dressing
    entities:
      - light.dressing1
      - binary_sensor.hue_motion_sensor_dressing1_motion
      - sensor.hue_motion_sensor_dressing1_light_level
      - sensor.hue_motion_sensor_dressing1_temperature
      - light.dressing2
      - binary_sensor.hue_motion_sensor_dressing2_motion
      - sensor.hue_motion_sensor_dressing2_light_level
      - sensor.hue_motion_sensor_dressing2_temperature

  scenes:
    name: Scenes
    entities:
      - scene.nightlight
      - scene.candle
      - scene.candle_bedroom
      - scene.relax
      - scene.concentrate
      - scene.reading
      - scene.energize
      - scene.arctic
  air_quality:
    name: Paris Air quality
    entities:
      - sensor.us_air_pollution_level
      - sensor.us_air_quality_index
      - sensor.us_main_pollutant
  netatmo:
    name: Indoor metrics
    entities:
      - sensor.netatmo_bds_indoor_co2
      - sensor.netatmo_bds_indoor_humidity
      - sensor.netatmo_bds_indoor_noise
      - sensor.netatmo_bds_indoor_pressure
      - sensor.netatmo_bds_indoor_temperature
  darksky:
    name: Outdoor metrics
    entities:
      - sensor.dark_sky_daily_summary
      - sensor.dark_sky_humidity
      - sensor.dark_sky_ozone
      - sensor.dark_sky_precip_intensity
      - sensor.dark_sky_precip_probability
      - sensor.dark_sky_temperature
      - sensor.dark_sky_uv_index
      - sensor.dark_sky_wind_speed
  apc_be700g:
    name: APC BE700G
    entities:
      - sensor.apc_be700g_status
      - sensor.apc_be700g_battery_charge
      - sensor.apc_be700g_battery_runtime
      - sensor.apc_be700g_battery_voltage
      - sensor.apc_be700g_beeper_status
      - sensor.apc_be700g_input_voltage
      - sensor.apc_be700g_load
  input_booleans:
    name: Home modes
    entities:
      - input_boolean.vacation_mode
      - input_boolean.guest_mode
  family:
    name: Family
    entities:
      - person.benjamin
      - person.laura
  all_media_players:
    name: All media players
    entities:
      - media_player.living_room
      - media_player.bedroom
  all_switchs:
    name: All switchs
    entities:
      - switch.smartplug_kitchen1

input_select:
  benjamin_status_dropdown:
    name: Benjamin
    options:
      - Home
      - Just Arrived
      - Just Left
      - Away
      - Extended Away
    initial: Home

automation: !include_dir_merge_list automation

android_ip_webcam:
  - host: 192.168.1.20
    port: 8080
    username: !secret android_ip_webcam_username
    password: !secret android_ip_webcam_password
    scan_interval: 10
    sensors:
      - audio_connections
      - battery_level
      - battery_temp
      - battery_voltage
      - light
      - motion
      - pressure
      - proximity
      - sound
      - video_connections
    switches:
      - exposure_lock
      - ffc
      - focus
      - gps_active
      - night_vision
      - overlay
      - torch
      - whitebalance_lock
      - video_recording

script: !include_dir_merge_named script

input_boolean: !include input_boolean.yaml

notify:
  - name: slack
    platform: slack
    api_key: !secret slack_api_key
    default_channel: "#general"

zone:
  - name: Work
    latitude: !secret work_latitude
    longitude: !secret work_longitude
    icon: mdi:worker
    radius: 100

zwave:
  usb_path: /dev/ttyACM0
  network_key: !secret z_wave_network_key
