---

airvisual_api_key: secret
api_password: secret
darksky_api_key: secret
db_url: postgresql://SERVER_IP/DB_NAME
home_latitude: 00.00000
home_longitude: 00.00000
nest_client_id: 0
nest_client_secret: secret
netatmo_api_key: secret
netatmo_password: secret
netatmo_secret_key: secret
netatmo_username: secret@secret.local
tile_password: secret
tile_username: secret@secret.local
work_latitude: 00.00000
work_longitude: 00.00000
