---

android_ip_webcam_username: secret
android_ip_webcam_password: secret
external_url: https://home.arpa
home_latitude: 00.00000
home_longitude: 00.00000
icloud_bds_accountname: secret
work_latitude: 00.00000
work_longitude: 00.00000
dyson_username: your_dyson_email@example.com
dyson_password: your_dyson_password
# cat /dev/urandom | tr -dc '0-9A-F' | fold -w 32 | head -n 1 | sed -e 's/\(..\)/0x\1, /g' -e 's/, $//'
z_wave_network_key: "0x01, 0x02, 0x03, 0x04, 0x05, 0x06, 0x07, 0x08, 0x09, 0x0A, 0x0B, 0x0C, 0x0D, 0x0E, 0x0F, 0x10"
