---

home_latitude: 00.00000
home_longitude: 00.00000
work_latitude: 00.00000
work_longitude: 00.00000
airvisual_api_key: secret
nest_client_id: 0
nest_client_secret: secret
netatmo_api_key: secret
netatmo_password: secret
netatmo_secret_key: secret
netatmo_username: secret
